

.nav {
	/* position: fixed;   */
	/* /* z-index: 100; */
	/* margin-bottom: 100px; */
}
.nav__logo {
	width: auto;
	height: auto;
	margin: 10px 0;
	margin-right: 32px;
}
.nav__rigth{
	display: flex;
	flex-direction: row;
}
.nav__phone{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #070C11;
	margin-right: 20px;
}
.nav__time{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #838688;
}
.nav__item {
	display: inline-block;
	padding-right: 32px;
}
.nav__img{
	width: 48px;
	height: 48px;
	margin-bottom: -20px;
	cursor: pointer;
}
.nav__search{
	background: #F3F3F4;
	border-radius: 50px;
	padding: 20px 56px;
	color: #9E9EA7;
	line-height: 16px;
	width: 100%;
	border: 1px solid #F3F3F4;
}
.nav__btn {
	background: #4878A6;
	border-radius: 4px;
	padding: 12px 26px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #FFFFFF;
}
.nav__login{
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 12px 26px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	/* border: 1px solid #838688; */
	color: #585959;
}


.menu{
	height: 60px;
	background: #0E1821;
	/* margin-top: 100px; */
	/* position: fixed;  
	z-index: 100; */
}
.menu2{
	flex-direction: row;
	background: #0E1821;
	color: #FFFFFF;
}
.menu__rigth{
	margin-top: 20px;
	flex-basis: 15%;
}
.menu3{
	margin: 0 auto;
}
.menu__active{
}
.menu__humburger{
	width: 90px;
	height: 32px;
	border: 0;
	background: transparent;
	cursor: pointer;
	margin-right: auto;
	display: none;
}
.menu__img{
	margin-left: 20px;
	margin-right: 10px;
}
.catalog{
	width: 200px;
}
.menu__img{
	margin-top: -5px;
}
.burger__btn{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-top: 2px;
}
.menu__list{
	margin-top: 21px;
	border: 1px solid #EAEAF0;
	background-color: #EDF2F6;
	position: relative;
	z-index: 5;
}
.list__img{
	width: 32px;
	height: 32px;
	margin: 8px 10px 8px 18px ;
}
.menu__link{
	text-decoration: none;
	padding: 20px;
	display: block;

	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #070C11;

	margin: 12px 0;
}
.menu__link:hover{
	background-color: #ea0707;
}
.menu__left{
	margin-top: 25px;
	flex-basis: 50%;
}
.menu__item{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: #FFFFFF;
}




.header{
	margin-top: 20px;
	margin-bottom: 80px;
}
.header__img{
	height: 100%;
}

.bread {
	margin-top: 20px;
	margin-left: -9px;
	margin-bottom: 45px;
}
.bread__link {
   	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-transform: capitalize;
	color: #474747;
	text-decoration: none;
}
.bread__img{
	margin: 0 15px;
}
.bread__title1{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #070C11;
}
.bread__title2{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #838688;
}

.product{
	margin-bottom: 120px;
}
.product__main__title{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 130%;
	color: #070C11;
	margin-bottom: 40px;
}
.btn__img{
	margin-left: 5px;
	margin-bottom: -1px;
}
.product__item{
	display: flex;
	flex-direction: column;
	flex-basis: 24%;
	margin-bottom: 10px;
	margin: 10px 0;
	overflow: hidden;
	transition: .4s linear;
	position: relative;
	border: 1px solid #EAEAF0;
}
.product__img {
	margin: 20px 20px 10px;
}
.product__category{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #838688;
	margin: 0 20px 10px;
}
.product__category2{
	margin: 0 20px 10px;
	position: absolute;
    top: 10px;
    right: 5px;
	width: 98px;
	height: 31px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #EDF2F6;
	background: #48A69B;
	border-radius: 4px;
	padding: 5px 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.product__category3{
	margin: 0 20px 10px;
	position: absolute;
    top: 60px;
    right: 5px;
	width: 122px;
	height: 31px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #EDF2F6;
	background: #D73838;
	border-radius: 4px;
	padding: 5px 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.product__title{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	color: #070C11;
	margin: 0 20px 20px;
}
.rating{
	display: flex;
	align-items: center;
	margin: 0 20px 20px;
}
.star{
	width: 24px;
	height: 24px;
	margin-right: 4px;
	color: #FFFFFF;
	border: none;
}
.reviews{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #070C11;
}
.reviews2{
	width: 24px;
	height: 24px;
	margin-left: 10px;
	margin-right: 5px;
}
.price3{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin: 0 20px;
}
.price1{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	text-decoration-line: line-through;
	color: #838688;
}
.price2{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: #070C11;
}
.discount{
	flex-direction: row;
	border-radius: 14px;
	background: #F37748;
	padding: 5px 12px 5px 5px;
}
.discount__white{
	border-radius: 23px;
	background: #FFF;
	margin-left: 5px;
	padding: 1px 7px;
	color: var(--text-main, #070C11);
	font-size: 14px;
	font-family: Exo 2;
	line-height: 130%;
}
.discount__oringe{
	color: #FFF;
	font-size: 14px;
	font-family: Exo 2;
	font-weight: 700;
	line-height: 130%;
	margin-left: 10px;
}
.icon{
	width: 48px;
	height: 48px;
}
.product__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 20px;
}
.product__btn{
	background: #FFFFFF;
	border: 1px solid #4878A6;
	border-radius: 4px;
	width: 100%;
	height: 48px;
	margin-right: 10px;
}
.product__btn2{
	width: 48px;
	height: 48px;
	background: #4878A6;
	border-radius: 4px;
}
.advertisement{
	width: 100%;
	margin-bottom: 120px;
}
.pr__new{
	/* margin-top: 100px; */
}

.news{
}
.news__block{
	display: flex;
	flex-direction: column;
}
.news__title{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 130%;
	color: #070C11;
	margin-bottom: 40px;
}
.news__btn__top{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #2A5275;
	margin-left: 29px;
	border: none;
	background-color: #fff;
}
.news__item{
	background: #EDF2F6;
	border-radius: 8px;
	padding: 30px 50px;
	flex-basis: 24%;
	margin-bottom: 25px;
}
.news__subtitle{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 120%;
	color: #070C11;
	margin-bottom: 20px;
}
.news__text{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #070C11;
	margin-bottom: 20px;
}
.news__bottom{

}
.news__btn{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #2A5275;

	border: none;
	background-color: #EDF2F6;

	margin-left: -4px;
}
.news__data{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #838688;
}


.news{
}
.news__block{
	display: flex;
	flex-direction: column;
}
.news__title{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 130%;
	color: #070C11;
	margin-bottom: 40px;
}
.news__btn__top{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #2A5275;
	margin-left: 29px;
}
.news__item2{
	background: #EDF2F6;
	border-radius: 8px;
	flex-basis: 49%;
	margin-bottom: 20px;
	padding: 30px;
	align-self: stretch;
	align-content: stretch;
	height: 100%;
}
.news__iteam2__img{

}
.news__subtitle{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 120%;
	color: #070C11;
	margin-bottom: 20px;
}
.news__text{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #070C11;
	margin-bottom: 20px;
}
.news__bottom{

}
.news__btn{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #2A5275;
	margin-left: -4px;
}
.news__data{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #838688;
}


.new{

}
.new__block{
	padding: 0;
	margin: 0;
	margin-left: -8px;
}
.new__rigth{
} 
.new__h2{
	color: var(--text-main, #070C11);
	font-size: 36px;
	font-family: Exo 2;
	font-weight: 700;
	line-height: 130%;
	margin-bottom: 30px;
}
.new__text{
	color: var(--text-main, #070C11);
	font-size: 16px;
	font-family: Exo 2;
	line-height: 130%;
}
.new__h3{
	color: var(--text-main, #070C11);
	font-size: 24px;
	font-family: Exo 2;
	font-weight: 600;
	line-height: 120%;
	margin-top: 40px;
	margin-bottom: 20px;
}
.new__img{
	width: 530px;
	height: 750px;
	flex-shrink: 0;
}

.contacts{

}
.contacts__block{
	flex-direction: column;
}
.bbb{
	height: 500px;
	margin-bottom: 120px;
}
.contacts__rigth{
	border-radius: 8px;
	background: var(--light-blue, #EDF2F6);
	flex-direction: row;
}
.contacts__address{
	color: #000;
	font-size: 16px;
	font-family: Exo 2;
	font-weight: 500;
	line-height: 100%;
	margin-top: 30px;
	margin-left: 30px;
}
.contacts__phone{
	color: var(--dark-blue, #2A5275);
	font-size: 24px;
	font-family: Exo 2;
	font-weight: 600;
	line-height: 100%;
	margin-top: 10px;
	margin-left: 30px;
}

.phone__bottom{
	margin-bottom: 30px;
}
.contacts__mail{
	color: var(--dark-blue, #2A5275);
	font-size: 24px;
	font-family: Exo 2;
	font-weight: 600;
	line-height: 100%;
	border-top: 1px solid #C8CACB;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 30px;
}
.contacts__working{
	color: var(--text-grey, #838688);
	font-size: 16px;
	font-family: Exo 2;
	line-height: 100%;
	margin-left: 30px;
	margin-top: 32px;
}
.contacts__icon{
	width: 24px;
	height: 24px;
	margin-bottom: -4px;
	margin-right: 10px;
}
.contacts__time{
	color: var(--text-main, #070C11);
	font-size: 20px;
	font-family: Exo 2;
	font-weight: 600;
	line-height: 100%;
	margin-left: 64px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.contacts__img{
	margin-top: -35px;
}
.contacts__block2{
	flex-direction: column;
	margin-top: 30px;
}
.cont__form{
}
.form__rigth{
}
.form__left{
	margin-left: 20px;
}
.cont__block{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}
.cont__label{
	color: #0d0c22;
	margin-bottom: 9px;
	color: var(--text-main, #070C11);
	font-size: 16px;
	font-family: Exo 2;
	line-height: 100%;
}
.cont__input{
	color: var(--text-grey, #838688);
	font-size: 16px;
	font-family: Exo 2;
	line-height: 100%;
	padding: 10px 10px 10px 20px;
	width: 276px;
}
.cont__massage{
	color: var(--text-grey, #838688);
	font-size: 16px;
	font-family: Exo 2;
	line-height: 100%;
	width: 530px;
	height: 99px;
	padding: 16px 10px 10px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: start;
}
.cont__btn{
	border-radius: 5px;
	background: var(--blue, #4878A6);
	color: #FFF;
	font-size: 16px;
	font-family: Exo 2;
	font-weight: 700;
	line-height: 130%;
	padding: 16px 20px 17px 20px;
	width: 310px;
	height: 54px;
}
.check{
	margin-left: 16px;
}
.checkbox{
	background: var(--blue, #4878A6);
	background-color: #4878A6;
}





.footer{
	margin-top: 80px;
	padding-top: 40px;
	background: #EDF2F6;
}
.footer__logo{
	margin-bottom: 20px;
}
.footer__phone{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	color: #070C11;
	margin-bottom: 10px;
}
.footer__time{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: #838688;
	margin-bottom: 20px;
}
.footer__text{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #070C11;
	margin-bottom: 5px;
}
.footer__title{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	color: #838688;
	margin-bottom: 20px;
}
.footer__text2{
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: #838688;
}
.footer__img{
	width: 48px;
	height: 48px;
	margin-top: -15px;
	margin-bottom: -15px;
}
.footer__text3{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #838688;
}
.footer__bottom{
	border-top: 1px solid #C8CACB;
	margin-top: 40px;
	padding-top: 38px;
	padding-bottom: 34px;
}


.reg{
	margin-top: 100px;
}
.reg__form{

}
.reg__block{
	margin-bottom: 20px;
}
.reg__label{
	color: #0d0c22;
	margin-bottom: 9px;
}
.reg__input{
	border: 1px solid #D1D1D1;
	border-radius: 10px;
	padding: 15px;
	line-height: 16px;
	color: #9E9EA7;
	width: 100%;
}
.reg__btn{
	background-color: #4878A6;
	border-radius: 8px;
	padding: 12px 16px;
	color: #FFFFFF;
	border: 1px solid #4878A6;
}


.product_single{
	margin-bottom: 100px;
}
.pr__single__left{
	margin-left: -60px;
}
.product_single__img{
	width: 80%;
	height: 80%;
}
.imgArowsLeft{
	width: 14px;
	height: 12px;
	stroke-width: 1px;
	stroke: #EAEAF0;
	padding: 17px 18px;
	border-radius: 100%;
	border: 2px solid #EDF2F6;
	margin-top: 5px;
	margin-right: 32px;
	cursor: pointer;
}
.imgGallery{
	width: 56px;
	height: 56px;
	cursor: pointer;

}
.bg .imgGallery:nth-child(3){
	border: 2px solid #4878A6;
	border-radius: 5px;
	margin: 0 8px;
	cursor: pointer;
}
.imgArowsRigth{
	width: 14px;
	height: 12px;
	padding: 17px 18px;
	border-radius: 100%;
	background-color: #EDF2F6;
	border: 2px solid #EDF2F6;
	margin-top: 5px;
	margin-left: 32px;
	cursor: pointer;
}
.product_single__title{
	color: #070C11;
	font-family: Exo 2;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	margin-bottom: 30px;
}
.product__rigth{
	border-radius: 10px;
	border: 1px solid #EAEAF0;

}
.product__rigth__top{
	margin-top: 30px;
	padding-left: 10px;
	margin-right: 30px;
	margin-bottom: 20px;
}
.icon_first{
	margin-right: 10px;
	cursor: pointer;
}
.icon{
	cursor: pointer;
}
.product__rigth_single{
}
.pr__sinlge_price1{
	margin-right: 8px;
	color: #838688;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	text-decoration-line: line-through;
	margin-top: 5px;
}
.pr__sinlge_price2{
	color: var(--text-main, #070C11);
	font-family: Exo 2;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
}
.pr__single__discount{
	flex-direction: row;
	border-radius: 14px;
	background: #F37748;
	padding: 2px;
}
.product__rigth__bottom{
	margin-left: 10px;
	margin-right: 10px;
}
.product__single__bottom{
	margin-top: 15px;
	margin-bottom: 30px;
}
.product__single__btn{
	border-radius: 4px;
	border: 1px solid #4878A6;
	background: #4878A6;
	color: #FFF;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	margin-right: 10px;
	padding: 10px;
	width: 228px;
	height: 48px;
	cursor: pointer;
}
.product__single__btn2{
	border-radius: 4px;
	border: 1px solid  #4878A6;
	background: #FFF;
	color: #4878A6;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	padding: 10px;
	width: 228px;
	height: 48px;
	cursor: pointer;
}
.pr__rigth_bot{
	margin-top: 30px;
}
.product__rigth_icon{
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.pr__rigth__title{
	color: #070C11;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	margin-bottom: 10px;
}
.pr__rigth_text{
	color: #070C11;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 30px;
}
.product__description{
	margin-top: 40px;
}
.product__description__top{
	background-color: #EDF2F6;
}
.paragraph1{
	margin-top: 10px;
	padding: 10px 20px;
	color: #2A5275;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	border-bottom: 3px solid #2A5275;
	cursor: pointer;
}
.paragraph2{
	margin: 10px 0;
	padding: 10px 20px;
	color: #070C11;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	cursor: pointer;
}
.product__description__title{
	color: #070C11;
	font-family: Exo 2;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-top: 40px;
	margin-bottom: 30px;
}
.product__description__text{
	color: #070C11;
	font-family: Exo 2;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}





.map{
	margin-bottom: 120px;
}
.map__title{
	font-family: Baron Neue;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0px;
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin-bottom: 40px;
	width: 100%;
}
.map__item{
	font-family: Lato;
	font-size: 9px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0px;
	text-align: left;
	border: solid 1px #C79791;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px / 100px;
	margin-bottom: 20px;
	padding: -2px 5px;
}
.units{
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0px;
	text-align: left;
}
.value{
	font-family: Lato;
	font-size: 11px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: center;
	color: #7A1B1B;
	margin-left: 5px;
}
.map2 {
	/* height: 50vh; */
	/* width: 20vw; */

	height: 600px;
	width: 100px;

	/* background-color: #db0909; */

}
[class*="copyrights-pane"] {
	display: none !important;
}
.balloon__title {
	font-size: 16px;
	font-weight: 700;
}
.balloon__type {
	margin-bottom: 5px;
	color: #777777;
}









.slider
  * {box-sizing:border-box}

  /* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
	  display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }




.cart__title{
	width: 200px;
}

.cart23{
	margin-top: 30px;
	margin-left: 20px;
}
.vbv{
	margin-top: 50px;
}
.vvv{
	margin-top: 50px;
	margin-left: 150px;
}



@media(max-width: 768px){
	.menu__list{
		display: none;
	}
	.menu__humburger{
		display: block;
	}
	.menu{
		padding-top: 13px;
		padding-bottom: 13px;
	}
	.menu__active .menu__humburger span{
		display: none;
	}
	.menu__active .menu__humburger::after{
		transform: rotate(45deg);
	}
	.menu__active .menu__humburger::before{
		transform: rotate(-45deg) translate(-3px, 3px);
	}
	.menu__active .menu__list{
		display: block;
	}
	.menu__link{
		padding: 10px 0;
	}
	.menu__link:hover{
		background: transparent;
	}






	.nav__phone{
		display: none;
	}

	.nav__time{
		display: none;
	}


	.nav__search{
		display: none;
	}
	.nav__item:nth-child(5){
		display: none;
	}




	

.bgbg{
	margin-top: -20px;
}

.menu{
	display: none;
}
.menu2{
	flex-direction: row;
	background: #0E1821;
	color: #FFFFFF;
}
.mmn{
	flex-direction: row;
}

.nav__btn {
	margin-right: -40px;
}

.menu__item2{
	flex-direction: column;
	cursor: pointer;
	padding: 10px;
} 
.menu__img2{
	margin-bottom: 5px;
}




}






@media(max-width: 7800px){
	.menu__list{
		display: none;
	}
	.menu__humburger{
		display: block;
	}
	.menu{
		padding-top: 13px;
		padding-bottom: 13px;
	}
	.menu__active .menu__humburger span{
		display: none;
	}
	.menu__active .menu__humburger::after{
		transform: rotate(45deg);
	}
	.menu__active .menu__humburger::before{
		transform: rotate(-45deg) translate(-3px, 3px);
	}
	.menu__active .menu__list{
		display: block;
	}
	.menu__link{
		padding: 10px 0;
	}
	.menu__link:hover{
		background: transparent;
	}
	.menu2{
		display: none;
	}

}












