@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/syne');


.nav {
    background: #111111;
    padding: 15px 10px;
}
.nav__title, .nav__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nav__item {
    display: inline-block;
    margin-left: 20px;
}

.main {
    margin-top: 100px;
}
.main__zag {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 60px;
}
.main__block {
    margin-bottom: 30px;
}
.main__border {
    background: #FFFFFF;
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
    border-radius: 25.8353px;
    padding: 25px;
}
.main__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.main__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 34px;
    margin-top: 20px;
}
.main__item {
    display: inline-block;
    margin-right: 10px;
}
.main__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.main__btn {
    background: #111111;
    border-radius: 10px;
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 60px;
}

.form {
    margin-bottom: 60px;
}

.form-block {
    margin-bottom: 20px;
}
.form-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
}
.form-control {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.form_btn {
    background: #0f69d1;
    border: 1px solid #0f69d1;
    border-radius: 10px;
    padding: 15px 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 60px;
}
.form__line {
    border-top: 1px solid #111111;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
#baseimg img {
	width: 350px;
	height: auto;
}
.forms {
    margin-top: 100px;
}

.main__posts {
    margin-bottom: 100px;
}
.main__count {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    
}